@font-face {
  font-family: 'Letra';
  src: url('../Fuentes/SourceCodePro-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fcfffa;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  font-family: 'Letra';
}
body {
  max-height: 90vh;
}
h1 {
  margin-top: 6%;
  text-shadow: 1px 1px 1px grey;
}
nav {
  display: block;
  width: 98%;
  padding: 1%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav ul li {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  background-color: rgba(151, 234, 147, 0.308);
  position: sticky;
  border: 2px solid rgba(79, 121, 77, 0.466);
  border-radius: 25%;
}
nav ul li:hover {
  background-color: #a2d9ce;
}
nav ul a {
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-around;
  margin-left: 30%;
}
header fieldset {
  width: 200px;
  box-shadow: 5px 5px 5px grey;
}
header fieldset div {
  display: flex;
  margin-left: 20px;
}
header fieldset div button {
  margin-top: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
#gif {
  width: 24%;
  height: 25%;
  margin-bottom: 55px;
  justify-content: center;
  margin-left: 35% ;
}
#separador {
  border: 1px solid #2e2c2c;
}
footer {
  background-color: #000000;
  color: white;
  height: 50px;
  bottom: 0;
  justify-content: space-around;
  width: 99%;
  display: flex;
}
footer h4 {
  padding-left: 10px;
}
footer div {
  display: flex;
}
footer div img {
  padding: 10px;
  width: 30px;
  height: 30px;
}
#erroneo {
  color: red;
}
#login_correcto {
  text-align: center;
}
#imagen_dados {
  justify-content: space-around;
  margin: 15px;
}
#dados {
  text-align: center;
  margin-top: 10%;
}
#dados button {
  margin-top: 20px;
}
#dados img {
  width: 100px;
  height: 100px;
}
#dados img:hover {
  cursor: pointer;
}
#juego_mate #principio {
  text-align: center;
  margin-top: 10%;
}
#juego_mate #escribir {
  text-align: center;
  margin-top: 1%;
}
#juego_mate #boton_corregir_mates {
  margin: 10px;
  display: none;
}
#juego_mate #boton_porcentaje {
  margin: 10px;
  display: none;
}
#juego_mate .botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#juego_mate #video {
  display: flex;
  justify-content: center;
  align-items: center;
}
#titulo {
  text-align: center;
}
/*--------------------------------------------------------------------------Empiezan las animaciones---------------------------------------------------------------------------*/
@keyframes movimiento {
  from {
    color: black;
    margin-top: 2%;
    width: 10%;
    margin-left: 20%;
  }
  40% {
    color: blue;
    margin-top: 10%;
    width: 10%;
    margin-left: 10%;
  }
  70% {
    color: red;
    margin-top: 25%;
    width: 10%;
    margin-left: 90%;
  }
  90% {
    color: blueviolet ;
    margin-top: 40%;
    width: 10%;
    margin-left: 70%;
  }
  to {
    color: black;
    margin-top: 2%;
    width: 10%;
    margin-left: 20%;
  }
}

#ratoncito{
  position: absolute;
  
}

.raton {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: movimiento;
}
.muerto {
  transition-duration: 2s;
  margin-left: 45%;
}
.muerto:hover {
  transform: rotate(180deg) translateY(-205px);
}

.empezar{
  margin-left: 47.5%;
  margin-top: 5%;
  opacity: 0;
  transition: font-size 2s steps(10);
}

.empezar:hover{
  font-size: 120%;
}

#todo{
  text-align: center;
  margin: auto;
  justify-content: space-around;
}


